---
title: Upcoming Events
layout: page
order: 2
---

<h2> Next Circle Meeting</h2>

<p>Our regular meetups are on the second Wednesday of the month. Ston Easton Village Hall open at 7:30pm for 8:00pm start.</p>




{% assign now_seconds = "now" | date: "%s" | plus: 0 %}
{% for post in site.categories.event -%}
    {% assign post_seconds = post.date | date: "%s" | plus: 0 %}
    {% if post_seconds > now_seconds %}
      <h3>{{ post.title }} - {{post.date | date:"%y/%m/%d"}}</h3>
      {{post.content}}
    {% endif %}
{%- endfor %}
