---
title: Upcoming Events
layout: page
order: 2
---

<h2> Next Circle Meeting</h2>

Our regular meetups are on the first Thursday of the month. Chewton Mendip Village Hall open at 7:30pm for 8:00pm start.




{% assign now_seconds = "now" | date: "%s" | plus: 0 %}
{% for post in site.posts %}
    <h3>{{post.title}} - TEST</h3>
  {% assign post_seconds = post.date | date: "%s" | plus: 0 %}
  {% if post_seconds > now_seconds %}
    <h3>{{ post.title }} - {{post.date | date:"%y/%m/%d"}}</h3>
    {{post.content}}
  {% endif %}
{% endfor %}
