---
layout: default
---

<div class="sidebar">
  <a href="{{baseurl}}/"><img src="{{site.baseurl}}/assets/pics/banner.png" class="banner" /></a>

  <nav>
    {% assign ordered = site.pages | sort: "order"%}
    {% for page in ordered %}{%if page.title %}
      <a href={{page.url | relative_url}}>{{page.title}}</a>
    {%endif%}{% endfor %}
  </nav>
</div>
<div class="contents">
        <div class="ancient">THE ANCIENT ART <span>of </span>STORYTELLING IN SOMERSET'S MENDIP HILLS</div>

        <h1>{{page.title | default: "Mendip Story Circle"}}</h1>
        {%if page.notice %}
        <div class="notice">
          <h2>Please Note</h2>
          <p>{{page.notice}}</p>
        </div>
        {%endif%}
        {{content}}
</div><!-- contents -->
<div id="contact">Email us at <a href="mailto:mendipstorycircle@gmail.com">mendipstorycircle@gmail.com</a></div>
